*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

.container{
    position: relative;
    /* background-color: rgb(31, 39, 40); */
    max-width: 100vw;
    height: 100vh;
}

.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_body{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    border: solid 3px black;
    background-color: black;
    border-radius:15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.screen{
    height:100%;
    width: 100%;
}

.input{
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: larger;
    color: white;
    background-color: black;
}

.buttonss{
    display: flex;
    flex-direction: column;
    color: white;
}
.row{
    display: flex;
}

.bb{
    border:solid white 1px;
    color: white;
    text-align: center;
    width: 88px;
    font-size: 30px;
    padding: 20px;
    background-color: rgb(89, 99, 101);
    cursor: pointer;
}

.add_sign,.sub_sign,.mul_sign,.div_sign{
    background-color: rgb(166, 88, 239);
}
.equals_sign{
    background-color: yellow;
    color: rgb(126, 117, 117);
    font-weight: bold;
}

.bgg{
    font-size: 400px;
    color: grey;
}

.addd{
    position: absolute;
    top: -50px;
    left: 200px;
    opacity: 0.1;

}

.minn{
    position: absolute;
    top: -150px;
    right: 400px;
    opacity: 0.2;
}

.mull{
    position: absolute;
    bottom: -10px;
    right: 100px;
    opacity: 0.2;
}

.divv{
    position: absolute;
    top: 350px;
    left: 350px;
    opacity: 0.2;
}