@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Marcellus&family=Space+Grotesk:wght@600&display=swap');

h1{
    text-align: center;
}

.specialization{
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    width: 100%;
}

.card{
    width: 20%;
    height: fit-content;
    text-align: center;
    padding: 1em;
    border-radius: 25px;
    /* border: 1px solid; */
    background-color: #6ac9bb1d;
}

.specialization_Image{
    width: 180px;
    height: 180px;
    object-fit: contain;
}

h2{
    color: #5bd5c2;
    font-family: Space Grotsek, sans-serif;
    font-weight: bold;
}

.card p{
    font-family: Marcellus, sans-serif;
    color: #638e87;
}

.Box{
    display: flex;
    margin: 0 15%;
    margin-top: 30px;
    /* border: 1px solid #638e87; */

}
.SImage{
    width: 500px;
    height: 400px;
    margin: 10px 52px 25px 24px ;
    border-radius: 20px;
}

.text{
    color: #49b5a5;
    font-family: Space Grotsek, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.points{
    margin-top: 35px;
}
.points li{
    margin-bottom: 15px;
    font-family: Marcellus;
}

