/* Footer */

.footer {
    position: relative;
    width: 90%; /* Set the width to 100% to make it full width */
    height: 200px; /* Adjust the height as needed */
    background: linear-gradient(
      89.85deg,
      rgba(94, 81, 81, 0.78) 0.09%,
      rgba(94, 81, 81, 0.78) 30.74%,
      rgba(25, 167, 145, 0.78) 70.35%,
      rgba(104, 194, 180, 0.3978) 95.42%
    );
    border-radius: 0px 250px 0px 0px;
    padding: 20px; /* Adjust the padding as needed */
  }
  
  /* Table styling */
  .table {
    display: table;
    width: 100%;
    height: 90%;
  }
.cell img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

/* Table styling */

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    padding:20px 20px -1px 0;

    /* Added padding for cell spacing */
}

/* Additional styling for elements */
.contact-info {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.copy-right {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 20px;
    /* Added margin for spacing */
}

.cell1 img{
    height: 30%;
    width: 30%;
    border-radius: 50%;
    margin:35px 0;
}